//COLOUR SCHEME

$theme: (
  white: #fff,
  black: #222,
  primary: #000,
  secondary: #333,
  interactive: #222,
  disabled: #ccc,
  error: red,
  positive: green,
  light-grey: #f4f4f4
);
$breakpoints: (
  sm: 576px,
  sm-max: 575px,
  md: 768px,
  md-max: 767px,
  lg: 1024px,
  lg-max: 1025px,
  xl: 1200px,
  xl-max: 1199px
);
$header: (
  height: 5rem,
  mobile-height: 3rem,
  mobile-menu-width: 70vw,
  tablet-menu-width: 50vw
);

$banners: (
  homepage-height: 50vh,
  height: 50vh
);
